html {
  font-size: calc(1em + 0.33vw);
}
body {
  background-image: url('{{ "img/geometry2.png" | absURL }}');
}
a,
a:visited {
  color: rgb(0, 0, 238);
}
nav a,
nav a:visited {
  color: #41403e;
}
blockquote {
  font-style: italic;
}